@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Choose wisely</h2>
    <p>This application supports 2 types of pages.</p>
    <p class="text-center">
        <a href="/Employee" class="btn btn-primary btn-lg">Go MVC</a>
        <a href="/Home/AngularIndex" class="btn btn-primary btn-lg">Go Angular</a>
    </p>
</div>